#header {
  height: 61px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: $base-border;
  > div { @include outer-container; }
  #logo {
    float: left;
    line-height: 40px;
    font-size: 16pt;
    &, &:hover, &:active, &:visited { color: black; }
  }
}

#header-links {
  float: right;
  
  > * {
    display: inline-block;
    vertical-align: middle;
    &:not(:first-child) { margin-left: 15px; }
    &:not(.squish), &.squish > * { line-height: 40px; }
  }
  > .squish *:not(:first-child) { margin-left: 10px; }
  
  .avatar {
    height: 30px; width: 30px;
  }
  #logout {
    color: black;
    &:hover { color: $action-color; }
  }
  #signup {
    @include button($secondary-action-color);
    line-height: inherit;
  }
}

