#header {
  height: 61px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: $base-border;
  > div { @include outer-container; }
  #logo {
    float: left;
    line-height: 40px;
    font-size: 16pt;
    &, &:hover, &:active, &:visited { color: black; }
  }
}

#header-links {
  float: right;
  
  %text { line-height: 40px }
  
  .avatar {
    margin-right: 15px;
    vertical-align: middle;
  }
  
  #logout {
    margin-left: 15px;
    color: black;
    &:hover { color: $action-color; }
  }
  #email { @extend %text; }
  #login { margin-right: 5px; }
  #signup {
    @include button($secondary-action-color);
    margin-left: 5px;
  }
}

